@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Montserrat:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');
html, body, ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 100;
    background: #f2f2f2;
    font-family: "Roboto", Helvetica, sans-serif;
    color: rgba(46, 46, 46, 0.849);
  }



  img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  h2 {
    margin-bottom: .2em;
    font-family: "Merriweather", Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3em;
    color:rgba(46, 46, 46, 0.849);
  }
  h6 {
      margin: 0;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1em;
    color:rgb(75, 75, 75);
  }
  .grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    top: 100px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .pr-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* hover styles */
  .journalistic-listing {
    position: relative;
    margin: 10px 10px 20px 10px;
    
  }
  
  .journalistic-image {
    line-height: 0;
    overflow: hidden;
    border: solid rgba(70, 70, 70, 0.74) 1pt;
  }
  
  .journalistic-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .journalistic-title {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    font-size: 1.5em;
    font-weight: 100;
    
    text-decoration: none;
    text-align: center;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s;
    background: rgba(54, 54, 54, 0.699);
    color: white;
    
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .journalistic-listing:hover .journalistic-title {
    opacity: 1;
  }
  
  .journalistic-listing:hover .journalistic-image img {
    filter: blur(2px);
  }

  #pr-listing {
    background: #c6e9b93f;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 300;
    color: rgba(54, 54, 54, 0.815);
    transition: .3s;
    border: solid rgba(70, 70, 70, 0.74) 1pt;
    
  }
  #pr-listing:hover {
    background: rgba(54, 54, 54, 0.699);
    color: white;
  }

  .nav {
    background: #000000a1;
    position: fixed;
    width:100%;
    top:0;
    z-index: 9999;
    transition: 0.2s; 
    
    height: 60px; /* set same as height & line-height below */
  }
  
  /* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
  .nav ul {
    background: #00000000;
    position:relative;
  }
  .nav li {
    background: #00000000;
    display: inline-block;
    list-style: none;
    height: 60px; /* should be the same as line-height */
    line-height: 60px; /* should be the same as height */
    padding: 0 30px; /* "0" sets top and bottom padding to none */
  }
  
  /* :hover allows you change the background color of the nav items when you mouse over them. Play around with the transition value to change the speed of the hover transition. */
  .nav li:hover {
    background: rgba(46, 46, 46, 0.712);
    transition: .2s;
    
  }
  
  /* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  

  .brand {
      padding: 0 190px 0 60px;
      font-weight: 700;
      font-size: 1.2em;
      letter-spacing: 1pt;
      font-family: "Raleway";
      color: white;
  }

  .page-title {
    font-weight: 700;
    font-size: 1.1em;
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: "Merriweather";
  }

  .pr-page-title {
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
    font-family: "Merriweather";
  }


  .pr-obj {
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 10%;
  }

  .pr-prompt {
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .pr-prompt ul, ol {
    padding-left: 2%;
  }

  .pr-prompt li {
    line-height: 25px;
  }


  .pr-obj p, li {
    font-weight: 300;
  }

  .pr-obj h3,  .pr-prompt h3 {
    font-family: "Merriweather";
    font-weight: 900;
  }

  .home-listing {
    position: relative;
    text-align: center;
  }

  .home-image {
    opacity: 0.7;
  }

  .typewriter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 38%;
    left: 24%;
    z-index: 0.999;
  }

.typewriter h1 {
  color: rgba(37, 37, 37, 0.897);
  font-family: 'Merriweather', Courier, monospace;
  font-size: 3.8em;
  font-weight: 900;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(44, 44, 44); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  animation: 
    typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: rgba(32, 32, 32, 0.849); }
  50% { border-color: transparent }
}

.about-prompt {
  display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    top: 50%;
    left: 40%;
    animation: fadeIn linear 6s;
}

.about-prompt h6 {
  font-size: 1.5em;
    font-family: Roboto;
  font-weight: 400;
  color: rgba(46, 46, 46, 0.849);
}


@keyframes fadeIn {
  0% {opacity:0;}
  66% {opacity:0;}
  100% {opacity:1;}
}

/* About color */
.about-page {
  margin: -5px;
  padding-top: 12%;
  padding-bottom: 55%;
  /* background: #498561c0; */
  /* background: #77bc94; */
  background: #cdeec1e1;
  display: flex;
    align-items: center;
  position: relative;
}

.about-page img {
  width:20%;
  border: solid 3pt rgba(46, 46, 46, 0.849);
  border-radius: 5pt;
  display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.about-section {
  width: 40%; 
  position: absolute; 
  text-align: center; 
  top:30%;
  left:30%;
  color: rgba(46, 46, 46, 0.849);
}

.about-section h2 {
  font-size:2.3em; 
  font-weight: 900;
  display: inline;
  vertical-align: top;
  line-height: 60px;
}

.about-section p {
  font-size: larger; 
  font-weight: 300;
  display: inline;
  vertical-align: top;
  line-height: 50px;
}
  
  /* for touch screen devices */
  @media (hover: none) { 
    .journalistic-title {
      opacity: 1;
    }
    .journalistic-image img {
      filter: blur(2px);
    }
  }